body {
  margin: 0;
  background-color: #0A090A;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
.conteiner {
  border: 0px solid red;
  /* Вырвниваем по центру содержимое*/
  margin: auto;
  /* задаем максимальную ширину контейнера */
  max-width: 1140px;
}
.header {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38%;
}
.logo {  
  font-style: normal;  
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}
.search {
  display: flex;
  align-items: center;
  flex: 0.8;
}
.search-input {
  flex: 1;
  background: rgba(196, 196, 196, 0.5);  
  border-radius: 5px;
  padding: 12px 18px;
  border: none;
  color: #AEAEAE;
  font-size: 14px;
  line-height: 16px;  
}
::-webkit-input-placeholder { /* Chrome */
  color: #AEAEAE;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #AEAEAE;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #AEAEAE;
  opacity: 1;
}
.search-button {
  background-color: transparent;
  border: none;
  padding: 10px 18px;
}
.user {
  display: flex;
  align-items: center;
}
.avatar {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.title {
  margin: 0;
  font-family: Playfair Display;
  font-size: 48px;
  line-height: 64px;  
  margin-bottom: 7px;
}
.title-small-en {
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  color: #787878;
  margin-bottom: 38px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 112px;
}
.movi-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tag {
  padding: 5px 10px;
  background-color: #fff;
  color: #333333;
  border-radius: 3px;
  margin-right: 20px;
}
.country {
  margin-right: 33px;
}
.play {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.play:before {
  content: '';
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.more {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.more:after {
  content: '';
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  margin-left: 15px;
}
.content {
  display: flex;
  background-color: #e5e5e5;
  justify-content: flex-start; 
  color: #000000;
  padding: 4% 5%;
  border-radius: 5px;
  margin-bottom: 2%;
}
.small-info {
  background-color: #e5e5e5;  
}
.cover {
  display: block;
  margin-bottom: 10%;
  margin-top: -40%;
}
.will-move {
  padding: 10px 44px;
  color: #fff;
  background-color: #FF8F27;
  border-style: none;
  margin-bottom: 20%;
  font-size: 14px;
  line-height: 16px;
}
.main-rols-wrapper {
  font-size: 16px;
  line-height: 150%;
  padding: 0 15px;
  border: 0px #000 solid;
}
.main-rols {
  margin: 0;
  font-weight: 900;    
}
.name-rols {
  margin: 0;
  text-decoration-line: underline;
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}
.name-rol {
  margin: 0;
}
.full-block-info {
  margin-left: 4%;
}
.full-info-nav {
  margin-bottom: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-info-nav-item {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}
/*.full-info-nav-item:not(:last-child) {
  margin-right: 38px;*/
}
.bookmark-a {
  margin-right: 0;
}
.active {
  color: #FF8F27;
}
.full-block-content {
  display: flex;
  justify-content: space-between;
}
.full-info-item {
  margin-right: 8%;
  font-size: 16px;
  line-height: 140%;
}
.text {
  margin: 0;
  font-weight: normal;
  margin-bottom: 1em;
}
.text-title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  margin: 32px 0;
}
.sabscribe {
  margin: 0;  
  font-size: 16px;
  margin-bottom: 14px;
}
.subscribe-form {
  display: flex;
  margin: 0;
  margin-bottom: 20%;
}
.subscribe-input {
  background: rgba(196, 196, 196, 0.5);  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 12px 18px;
  border: none;
  color: #AEAEAE;
  font-size: 14px;
  line-height: 16px; 
}
.subscribe-button {
  background-color: #FF8F27;
  border-radius: 0 5px 5px 0;
  border: none;
  padding: 12px;
}

@media (max-width: 1200px) {  
  .conteiner {
    max-width: 960px;
  }
  .full-info-nav-item {
    font-size: 16px;
  }
  .full-info-item {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  body {
    background-size: auto;
  }
  .conteiner {
    max-width: 740px;
  }
  .full-info-nav {
    flex-wrap: wrap;
  }
  .full-info-nav-item {
    flex-basis: 21%;
    line-height: 2;
  }
  .full-block-content {
    flex-wrap: wrap;
  }
  .full-info-item {
    margin-right: 0;
    margin-bottom: 10%;
  }
}
@media (max-width: 768px) {
  .conteiner {
    max-width: 540px;
  }
  .more {
    display: none;
  }
  .full-info-nav-item {
    flex-basis: 35%;
  }
}
@media (max-width: 568px) {
  .conteiner {
    max-width: 90%;
  }
  .header {
    flex-wrap: wrap;
  }
  .search {
    flex-basis: 100%;
    order: 3;
    margin-top: 5%;
  }
  .content {
    flex-wrap: wrap;
  }
  .main-rols-wrapper {
    display: none;
  }
  .full-info-nav {
    justify-content: start;
  }
  .full-info-nav-item {
    flex-basis: 35%;
  }
}
@media (max-width: 350px) {
  .full-info-nav-item {
    flex-basis: 55%;
  }
  .movi-info {
    flex-wrap: wrap;
  }
  .play {
    margin-top: 10%;
  }
}